.Header {
  border-top: 1px solid #f9f7fe;
}

h1 {
  font-size: 70px;
  margin-left: 50px;
  margin-bottom: 0px;
  text-align: left;
}

h2 {
  font-size: 30px;
  margin-left: 50px;
  margin-top: 0px;
  text-align: left;
}
